@keyframes showing-invite {
  0% {
    opacity: 0;
    transform: translateY(0rem);
    -webkit-transform: translateY(0rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
  }
}

.invite-card {
  animation: showing-invite 0.7s forwards;
  -webkit-animation: showing-invite 0.7s forwards;
  position: relative;
  display: flex;
  background-color: rgb(27, 27, 27);
  height: 13rem;
  width: 30rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 100;
  border-radius: 2px;
}

@keyframes rotateHeart {
  0% {
    transform: translate(0rem, 0rem) rotateX(0deg);
    -webkit-transform: translate(0rem, 0rem) rotateX(0deg);
  }

  100% {
    -webkit-transform: rotateX(149deg) translate(0rem, 14.1rem);
    transform: rotateX(149deg) translate(0rem, 14.1rem);
    z-index: 50;
  }
}

.open-heart-anm {
  -webkit-animation: rotateHeart 1.5s forwards;
  animation: rotateHeart 1.5s forwards;
}

.heart-wrap {
  margin: auto;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 150;
  position: absolute;
  transition: all 1s;
  -webkit-transform: translate3d(0,0,0);
  z-index: 999;
  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: -4.7rem;
    transform: rotateX(15deg);
    -webkit-transform: rotateX(15deg);
    border-left: 240px solid transparent;
    border-right: 240px solid transparent;
    border-top: 90px solid rgb(78, 78, 78);
  }
  &:hover {
    .rectangle,
    .left-circle,
    .right-circle {
      background-color: rgb(255, 115, 115);
      cursor: pointer;
      position: absolute;
    }
  }

  .rectangle {
    position: relative;
    height: 2.3em;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 2.3rem;
    border-radius: 5px 5px 1px 5px;
    background-color: red;
    transition: background-color 0.2s;
  }
  .left-circle {
    width: 2.3em;
    background-color: red;
    transition: background-color 0.2s;
    height: 3rem;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
    border-radius: 100%;
    position: absolute;
    display: block;
    z-index: 20;
    top: -4px;
    left: 2px;
  }
  .right-circle {
    width: 2.3em;
    display: block;
    background-color: red;
    transition: background-color 0.2s;
    height: 3rem;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    border-radius: 100%;
    position: absolute;
    z-index: 20;
    top: -4px;
    right: 2px;
  }
}

.card-info {
  position: relative;
  margin-top: 0rem;
  height: 7.3rem;
  border-left: 240px solid rgb(121, 34, 34);
  border-right: 240px solid rgb(161, 45, 45);
  border-top: 90px solid transparent;
  z-index: 100;
  width: 200px;
}

.for-love {
  position: absolute;
  height: 190px;
  width: 480px;
  right: 0px;
  top: 10px;
  background-color: white;
  z-index: 50;
  text-align: center;
}

.open-card-anm {
  -webkit-animation: up-page 2s forwards;
  animation: up-page 2s forwards;
}

@keyframes up-page {
  0% {
    transform: translate(0rem, 0rem);
  }

  50% {
    transform: translate(0rem, -13rem);
    -webkit-transform: translate(0rem, -13rem);
    height: 190px;
    z-index: 100;
  }
  100% {
    
    transform: translate(0rem, -1rem);
    transform: translate3d(0, 0, 1000px);
    -webkit-transform:translate3d(0,0,1000px);
    z-index: 100;
  }
}

.choices {
  position: relative;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.raspadinha {
  width: 4.3rem;
  display: flex;
  height: 3.8rem;
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
  z-index: -2;
  &::after {
    rotate: 35deg;
    margin: auto;
    display: flex;
    color: black;
    margin-top: 0.6rem;
    background-color: rgb(255, 230, 8);
    position: absolute;
    font-weight: 600;
    content: attr(prize);
  }
}
